.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited, .post h1 a:active {
    color: #000000;
    text-decoration: none;
}

.content{
    margin-top: 0;
    padding: 20px 20px 40px 40px;
    border-width: 2px;
    border-color: #ff9400;
    border-style: groove;
    border-bottom: none ;
    margin-top: 10px;
}

.brd {
    border-width: 2px; /* Параметры границы */
    border-color: #ff9400; /* Цвет фона */
    border-style: outset; /* Поля вокруг текста */
    margin: 10px;
}

.margin{
    margin-top: 10px;
}

.brd-background {
    border-width: 2px; /* Параметры границы */
    border-color: #ff9400; /* Цвет фона */
    border-style: outset; /* Поля вокруг текста */
    background-color: #ff9400;
    margin: 10px;
}

.brd-top{
    border-top-width: 2px;
    border-top-color: #ff9400;
    border-top-style: outset;
    margin: 5px;
}

.brd-bottom{
    border-bottom-width: 2px;
    border-bottom-color: #ff9400;
    border-bottom-style: outset;
    margin: 5px;
    margin-bottom: 10px;
}

.brd-top-bottom{
    border-top-width: 2px;
    border-top-color: #ff9400;
    border-top-style: outset;
    border-bottom-width: 2px;
    border-bottom-color: #ff9400;
    border-bottom-style: outset;
    margin: 5px;
    margin-outside: 10px;
}

.brd-left{
    border-left-width: 2px;
    border-left-color: #ff9400;
    border-left-style: outset;
}

.brd-reg {
    padding: 20px 20px 40px 40px;
    border-width: 2px;
    border-color: #ff9400;
    border-style: groove;
    margin-top: 10px;
}

.brd-menu {
    margin-top: 5px;
    border-width: 2px; /* Параметры границы */
    border-color: #ff9400; /* Цвет фона */
    border-style: outset; /* Поля вокруг текста */
}

.brd-review{
    border-width: 1px;
    border-color: #000000;
    border-style: outset;
    margin: 5px;
}

.strong-text{
    font-weight: bold ;
    font-size: 12pt ;
}

.back-color{
    background-color: white;
}
